html body {
  background-color: black;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

body .container {
  background-color: white;
  position: center;
}

h2 {
  text-align: left;
  font-family: fantasy;
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 2px 2px 2px;
  padding: 3px auto;
}

.artistImage {
  text-align: center;
  font-family: fantasy;
  width: 300px;
  height: 300px;
  box-sizing: content-box;
  /* border-width: 8px;
  border-style: inset;
  border-width: 10px;
  border-image: linear-gradient(to left bottom, #260B3C, #a053df);
  border-image-slice: 1; */
}

.container nav-bar {
  text-align: center;
  padding: 40px;
}

.sections {
  text-align: center;
  padding: 40px;
}

.list-group {
  text-align: center;
  padding: 40px;
}

img {
  text-align: center;
  padding-left: 100px;
  margin-bottom: 50px;
}

.addCollect {
  color: blue;
  padding-right: 20px;
  text-align: center;
}

.row .col-sm-12 {
  text-align: center;
  padding-right: 20px;
}

.btn-success {
  margin: 10px;
  margin-top: 70px;
}

/* todo list css */
.todo-title {
  text-align: center;
  font-family: fantasy;
}

form > #add-list-item {
  margin: 10px;
  margin-left: 430px;
  margin-top: 40px;
}

div > .btn-danger {
  margin-left: 490px;
}

div > div > .todo-text:hover {
  text-align: center;
  font-family: fantasy;
  color: grey;
  cursor: pointer;
}

div > div > .todo-text {
  text-align: center;
  font-family: fantasy;
  margin: 20px 0;
  padding: 30px 0;
}

div > div > .todo-undo:hover {
  text-align: center;
  font-family: fantasy;
  cursor: pointer;
  color: red;
}
div > div > .todo-undo {
  text-align: center;
  font-family: fantasy;
  cursor: pointer;
}
